/**.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}

<span class="btnLogin-popup">

.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: rgba(180, 188, 250, 0.856);
    border: 2px solid rgba(180, 188, 250, 0.856);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.btnLogin-popup:hover {
    background: rgba(157, 167, 241, 0.856);
    color: rgb(255, 255, 255);
}*/